<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/start.css}" rel="stylesheet" type="text/css" href="/static/css/start.css">
</head>
<body>

<div class="header">
    <h1>Редактировать компонент</h1>
    <p>Spring, MySQL, HTML, CSS</p>
</div>

<div class="topnav">
    <a href="/">На главную</a>
    <a href="/components">Создать заявку</a>
    <a href="/logout" style="float:right">Выход</a>
    <span style="display: block; color: #f2f2f2;
     padding: 14px 16px; float:right; text-decoration: none;" th:utext="${CurrentUser.username}"></span>
</div>

<div class="row">

    <div class="leftcolumn"  style="width:100%">
        <div class="card" style="text-align: center;">
            <div class="fakeimg" style="width:40%;margin-left:30%;margin-right:50%;">
                <form action ="#" th:action="@{/components/update}" method="post" th:object="${updateComp}">
                    <input type="hidden" th:field="*{id}" th:value="updateComp.id">
                    <label>Тип компонента:</label><br>
                    <input type="text" th:field = "*{type}" th:value="updateComp.type" readonly><br>
                    <label>Название:</label><br>
                    <input type="text" th:field = "*{name}" th:value="updateComp.name"><br>
                    <label>Значения:</label><br>
                    <input type="text" th:field = "*{values}" th:value="updateComp.values"><br>
                    <label>Количество:</label><br>
                    <input type="number" th:field = "*{amount}" th:value="updateComp.amount"><br>
                    <button type="submit" style="background-color: #333; color:white; width: 170px;">Изменить компонент</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="footer">
    <h2></h2>
</div>

</body>
</html>