<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/start.css}" rel="stylesheet" type="text/css" href="/static/css/start.css">
</head>
<body>

<div class="header">
    <h1>Repair Control</h1>
    <p>Spring, MySQL, HTML, CSS</p>
</div>

<div class="topnav">
    <a href="/">На главную</a>
    <a href="/components/new">Добавить компонент</a>
    <a href="/logout" style="float:right">Выход</a>
    <span style="display: block; color: #f2f2f2;
     padding: 14px 16px; float:right; text-decoration: none;" th:utext="${CurrentUser.username}"></span>
</div>

<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <div class="fakeimg">
                <span th:if="${CurrentReports!=null  and CurrentReports.isEmpty()}"><h2>Нет заявок на ремонт</h2></span>
                <table id="table" border="1">
                    <thead>
                    <th width="25">ID</th>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Values</th>
                    <th>Amount</th>
                    <th></th>
                    <th></th>
                    </thead>
                    <tr th:each="component :${CurrentReports}">
                        <td th:utext="${component.id}"></td>
                        <td th:utext="${component.type}"></td>
                        <td th:utext="${component.name}"></td>
                        <td th:utext="${component.values}"></td>
                        <td th:utext="${component.amount}"></td>
                        <td width="100">
                            <form action="/components/update" target="GET">
                                <input type="hidden" name="compId" th:value="${component.id}">
                                <button>Редактировать</button>
                            </form>
                        </td>
                        <td width="100">
                            <form th:action="@{/components}" method="POST">
                                <input type="hidden" name="userId" th:value="${component.id}"/>
                                <input type="hidden" name="action" value="delete"/>
                                <button type="submit">Удалить</button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="rightcolumn">
        <div class="card">
            <h2>Обо мне</h2>
            <div class="fakeimg" style="height:100px;"><img th:src="@{/images/IRNITU.jpg}" width="100%"
                                                            height="100%">
            </div>
            <p>Hello, my name is Vladislav<br>I am student of INRTU</p>
        </div>
    </div>

</div>

<div class="footer">
    <h2>Footer</h2>
</div>

</body>
</html>