<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/start.css}" rel="stylesheet" type="text/css" href="/static/css/start.css">
</head>
<body>

<div class="header">
    <h1>Report Control</h1>
    <p>Spring, MySQL, HTML, CSS</p>
</div>

<div class="topnav">
    <a href="/">На главную</a>
    <a href="/reports/addRole">Назначить роль</a>
    <a href="/logout" style="float:right">Выход</a>
    <span style="display: block; color: #f2f2f2;
     padding: 14px 16px; float:right; text-decoration: none;" th:utext="${CurrentUser.username}"></span>
</div>

<div class="row">

    <div class="leftcolumn">
        <div class="card">
            <div class="fakeimg">
                <table id="table">
                    <thead>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Role</th>
                    <th>Commands</th>
                    </thead>
                    <tr th:each="user :${allUsers}">
                        <td th:utext="${user.username}"></td>
                        <td th:utext="${user.password}"></td>
                        <td>
                            <ul>
                                <li th:each="role :${user.roles}"  th:text="${role.name}"></li>
                            </ul>
                        </td>
                        <td>
                            <form th:action="@{/admin}" method="POST">
                                <input type="hidden" name="userId" value="@{user.id}"/>
                                <input type="hidden" name="action" value="delete"/>
                                <button type="submit">Удалить</button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="rightcolumn">
        <div class="card">
            <h2>Обо мне</h2>
            <div class="fakeimg" style="height:100px;"><img th:src="@{/images/IRNITU.jpg}" width="100%"
                                                            height="100%">
            </div>
            <p>Hello, my name is Vladislav<br>I am student of INRTU</p>
        </div>
    </div>
</div>


<div class="footer">
    <h2></h2>
</div>

</body>
</html>