<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Components page</title>
    <link rel="stylesheet" type="text/css" href="/css/component.css">
</head>
<body>
<div id="control-title">Контрольная панель управления электронными компонентами</div>
<div id="links-status">
    <div id="links"><a href="/">На главную</a></div>
    <div id="status">Work in progress</div>
</div>
<div id="full-block">
    <div>
        <table>
            <thead>
            <th>ID</th>
            <th>Type</th>
            <th>Name</th>
            <th>Values</th>
            <th>Amount</th>
            </thead>
            <tr th:each="component :${allComponents}">
                <td th:utext="${component.id}"></td>
                <td th:utext="${component.type}"></td>
                <td th:utext="${component.name}"></td>
                <td th:utext="${component.values}"></td>
                <td th:utext="${component.amount}"></td>
                <td>
                    <form action="page/new.html" target="_blank">
                        <button>Редактировать</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{/components/}" method="POST">
                        <input type="hidden" name="userId" th:utext="${component.id}"/>
                        <input type="hidden" name="action" value="delete"/>
                        <button type="submit">Удалить</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>