<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/start.css}" rel="stylesheet" type="text/css" href="/static/css/start.css">
</head>
<body>

<div class="header">
    <h1>My repair service</h1>
    <p>Spring, MySQL, HTML, CSS</p>
</div>

<div class="topnav">
    <a href="/registration" style="float:right">Регистрация</a>
</div>

<div class="row">
    <div class="leftcolumn" style="width:100%">
        <div class="card" style="text-align: center;">
            <div class="fakeimg" style="width:40%;margin-left:30%;margin-right:50%;">
                <form id="form" th:action="@{/login}" method="post">
                    <label>Логин:</label><br>
                    <input type="text" name="username" value=""><br>
                    <label>Пароль:</label><br>
                    <input type="password" name="password" value=""><br><br>
                    <p th:if="${LoginError}" class="error">Неверное имя пользователя или пароль</p>
                    <input type="submit" value="Войти" style="background-color: #333; color:white; width: 170px;">
                </form>
            </div>
        </div>
    </div>
</div>


<div class="footer">
    <h2></h2>
</div>

</body>
</html>



