<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/start.css}" rel="stylesheet" type="text/css" href="/static/css/start.css">
</head>
<body>

<div class="header">
    <h1>Ремонт электроники ИНТЕРРАО</h1>
    <p>Spring, MySQL, HTML, CSS</p>
</div>

<div class="topnav">
    <a href="/registration" style="float:right">Регистрация</a>
</div>

<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <div class="fakeimg">
                <form id="form" th:action="@{/login}" method="post">
                    <label>Логин:</label><br>
                    <input type="text" name="username" value=""><br>
                    <label>Пароль:</label><br>
                    <input type="password" name="password" value=""><br><br>
                    <input type="submit" value="Войти">
                    <h4> <a href="/registration">Зарегистрироваться</a></h4>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="footer">
    <h2></h2>
</div>

</body>
</html>



