<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link th:href="@{/css/registration.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div id="start-block">
    <div id="title">Регистрация</div>
    <form id="form" th:action="@{/registration}" th:object="${userForm}" method="POST">
        <label >Логин:</label><br>
        <input type="text" th:field="*{username}"><br>
        <label >Пароль:</label><br>
        <input type="text" th:field="*{password}"><br>
        <label >Повторите пароль:</label><br>
        <input type="password" th:field="*{passwordConfirm}"><br>
        <label></label><br>
        <input type="submit" value="Зарегистрироваться">
    </form>
</div>



</body>
</html>